<div class="wrap">
    <div class="result">
        <div class="result-inner">
            <div class="box">
                <span class="name">Collection A</span>
                <span class="collection">{{collectionA}}<span class="icon-plus"></span
                        ></span>
            </div>
            <div class="box">
                <span class="name">Collection B</span>
                <span class="collection">{{collectionB}}<span class="icon-equal"></span></span>
            </div>
            <div class="box">
                <span class="name"><span translate>Merged Collection</span></span>
                <span class="collection">{{result}}</span>
            </div>
        </div>
    </div>
</div>
